<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.electronicGuideSD.dao.BusNosStopMapper">
 	<select id="selectList" resultType="com.electronicGuideSD.entity.BusNosStop">
 		select bns.*,preBs.name preBsName,nextBs.name nextBsName from (
 		select bns.*,bs.name bsName from bus_nos_stop bns,bus_stop bs where bns.busStopId=bs.id and bns.busNoId=#{busNoId}
		<if test="name!=null&amp;name!=''">
			and name like'%${name}%'
		</if>
 		)bns left join bus_stop preBs on bns.preBsId=preBs.id
 		 left join bus_stop nextBs on bns.nextBsId=nextBs.id
 		  order by bns.sort
 	</select>
 	<select id="selectByBusNoId" resultType="com.electronicGuideSD.entity.BusNosStop">
 		select * from bus_nos_stop where busNoId=#{busNoId} order by sort
 	</select>
 	<select id="selectById" resultType="com.electronicGuideSD.entity.BusNosStop">
 		select bns.*,bs.busNoIds from bus_nos_stop bns,bus_stop bs where bns.busStopId=bs.id and bns.id=#{id}
 	</select>
 	<insert id="add" parameterType="com.electronicGuideSD.entity.BusNosStop">
 		insert into bus_nos_stop
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="busStopId!=null">
 				busStopId,
 			</if>
 			<if test="busNoId!=null">
 				busNoId,
 			</if>
 			<if test="preBsId!=null">
 				preBsId,
 			</if>
 			<if test="nextBsId!=null">
 				nextBsId,
 			</if>
 				createTime
 		</trim>
 		values
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="busStopId!=null">
 				#{busStopId},
 			</if>
 			<if test="busNoId!=null">
 				#{busNoId},
 			</if>
 			<if test="preBsId!=null">
 				#{preBsId},
 			</if>
 			<if test="nextBsId!=null">
 				#{nextBsId},
 			</if>
 				now()
 		</trim>
 	</insert>
 	<update id="edit">
 		update bus_nos_stop set
		<trim suffixOverrides=",">
			<if test="busStopId!=null">
				busStopId=#{busStopId},
			</if>
			<if test="busNoId!=null">
				busNoId=#{busNoId},
			</if>
			<if test="isStart!=null">
				isStart=#{isStart},
			</if>
			<if test="isEnd!=null">
				isEnd=#{isEnd},
			</if>
			<if test="preBsId!=null">
				preBsId=#{preBsId},
			</if>
 			<if test="nextBsId!=null">
 				nextBsId=#{nextBsId},
 			</if>
				modifyTime=now(),
			<if test="sort!=null">
				sort=#{sort},
			</if>
		</trim>
		where id=#{id}
 	</update>
</mapper>