<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.electronicGuideSD.dao.BusNosStopMapper">
 	<select id="selectList" resultType="com.electronicGuideSD.entity.BusNosStop">
 		select * from bus_nos_stop where busNoId=#{busNoId}
		<if test="name!=null&amp;name!=''">
			and name like'%${name}%'
		</if>
 		 order by sort
 	</select>
</mapper>