<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.electronicGuideSD.dao.RoadStageMapper">
 	<select id="select" resultType="com.electronicGuideSD.entity.RoadStage">
 		select * from road_stage order by roadId,sort
 	</select>
 	<select id="selectMinDistanceStage" resultType="java.util.Map">
 		select ABS(#{x}-backX) toX,ABS(#{y}-backY) toY,round(SQRT(ABS(#{x}-backX)*ABS(#{x}-backX)+ABS(#{y}-backY)*ABS(#{y}-backY)),2) distance,backX,backY,frontX,frontY,sort,roadId,frontThrough,backThrough,'back' bfFlag from road_stage where frontThrough=1
 		UNION 
		select ABS(#{x}-frontX) toX,ABS(#{y}-frontY) toY,round(SQRT(ABS(#{x}-frontX)*ABS(#{x}-frontX)+ABS(#{y}-frontY)*ABS(#{y}-frontY)),2) distance,backX,backY,frontX,frontY,sort,roadId,frontThrough,backThrough,'front' bfFlag from road_stage where backThrough=1
		order by distance 
		limit 0,1
 	</select>
 	<select id="selectForInt" resultType="java.lang.Integer">
 		select count(*) from road_stage rs,road r where rs.roadId=r.id
		<if test="roadName!=null&amp;roadName!=''">
			and r.name like'%${roadName}%'
		</if>
		<if test="name!=null&amp;name!=''">
			and rs.name like'%${name}%'
		</if>
 	</select>
 	<select id="selectList" resultType="com.electronicGuideSD.entity.RoadStage">
 		select rs.*,r.name roadName from road_stage rs,road r where rs.roadId=r.id
		<if test="roadName!=null&amp;roadName!=''">
			and r.name like'%${roadName}%'
		</if>
		<if test="name!=null&amp;name!=''">
			and rs.name like'%${name}%'
		</if>
 		 order by r.sort,rs.sort limit #{start},#{rows}
 	</select>
 	<select id="selectById" resultType="com.electronicGuideSD.entity.RoadStage">
 		select rs.*,r.name roadName from road_stage rs,road r where rs.roadId=r.id and rs.id=#{id}
 	</select>
 	<select id="selectCBBData" resultType="com.electronicGuideSD.entity.RoadStage">
 		select id,name from road_stage order by sort
 	</select>
 	<insert id="add" parameterType="com.electronicGuideSD.entity.RoadStage">
 		insert into road_stage
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="name!=null">
 				name,
 			</if>
 			<if test="backX!=null">
 				backX,
 			</if>
 			<if test="backY!=null">
 				backY,
 			</if>
 			<if test="frontX!=null">
 				frontX,
 			</if>
 			<if test="frontY!=null">
 				frontY,
 			</if>
 			<if test="backThrough!=null">
 				backThrough,
 			</if>
 			<if test="frontThrough!=null">
 				frontThrough,
 			</if>
 			<if test="backIsCross!=null">
 				backIsCross,
 			</if>
 			<if test="backCrossRSIds!=null">
 				backCrossRSIds,
 			</if>
 			<if test="frontIsCross!=null">
 				frontIsCross,
 			</if>
 			<if test="frontCrossRSIds!=null">
 				frontCrossRSIds,
 			</if>
 				createTime,
 			<if test="sort!=null">
 				sort,
 			</if>
 			<if test="roadId!=null">
 				roadId,
 			</if>
 		</trim>
 		values
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="name!=null">
 				#{name},
 			</if>
 			<if test="backX!=null">
 				#{backX},
 			</if>
 			<if test="backY!=null">
 				#{backY},
 			</if>
 			<if test="frontX!=null">
 				#{frontX},
 			</if>
 			<if test="frontY!=null">
 				#{frontY},
 			</if>
 			<if test="backThrough!=null">
 				#{backThrough},
 			</if>
 			<if test="frontThrough!=null">
 				#{frontThrough},
 			</if>
 			<if test="backIsCross!=null">
 				#{backIsCross},
 			</if>
 			<if test="backCrossRSIds!=null">
 				#{backCrossRSIds},
 			</if>
 			<if test="frontIsCross!=null">
 				#{frontIsCross},
 			</if>
 			<if test="frontCrossRSIds!=null">
 				#{frontCrossRSIds},
 			</if>
 				now(),
 			<if test="sort!=null">
 				#{sort},
 			</if>
 			<if test="roadId!=null">
 				#{roadId},
 			</if>
 		</trim>
 	</insert>
 	<update id="edit">
		update road_stage set
		<trim suffixOverrides=",">
			<if test="name!=null">
				name=#{name},
			</if>
 			<if test="backX!=null">
 				backX=#{backX},
 			</if>
 			<if test="backY!=null">
 				backY=#{backY},
 			</if>
 			<if test="frontX!=null">
 				frontX=#{frontX},
 			</if>
 			<if test="frontY!=null">
 				frontY=#{frontY},
 			</if>
			<if test="backThrough!=null">
				backThrough=#{backThrough},
			</if>
			<if test="frontThrough!=null">
				frontThrough=#{frontThrough},
			</if>
 			<if test="backIsCross!=null">
 				backIsCross=#{backIsCross},
 			</if>
 			<if test="backCrossRSIds!=null">
 				backCrossRSIds=#{backCrossRSIds},
 			</if>
 			<if test="frontIsCross!=null">
 				frontIsCross=#{frontIsCross},
 			</if>
 			<if test="frontCrossRSIds!=null">
 				frontCrossRSIds=#{frontCrossRSIds},
 			</if>
				modifyTime=now(),
			<if test="sort!=null">
				sort=#{sort},
			</if>
 			<if test="roadId!=null">
 				roadId=#{roadId},
 			</if>
		</trim>
		where id=#{id}
	</update>
 </mapper>