<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.electronicGuideSD.dao.RoadMapper">
 	<select id="selectForInt" resultType="java.lang.Integer">
 		select count(*) from road where 1=1
		<if test="name!=null&amp;name!=''">
			and name like'%${name}%'
		</if>
 	</select>
 	<select id="selectList" resultType="com.electronicGuideSD.entity.Road">
 		select * from road where 1=1
		<if test="name!=null&amp;name!=''">
			and name like'%${name}%'
		</if>
 		 order by sort limit #{start},#{rows}
 	</select>
 	<select id="selectById" resultType="com.electronicGuideSD.entity.Road">
 		select * from road where id=#{id}
 	</select>
 	<insert id="add" parameterType="com.electronicGuideSD.entity.Road">
 		insert into road
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="name!=null">
 				name,
 			</if>
 			<if test="frontThrough!=null">
 				frontThrough,
 			</if>
 			<if test="backThrough!=null">
 				backThrough,
 			</if>
 				createTime,
 			<if test="sort!=null">
 				sort,
 			</if>
 		</trim>
 		values
 		<trim prefix="(" suffix=")" suffixOverrides=",">
 			<if test="name!=null">
 				#{name},
 			</if>
 			<if test="frontThrough!=null">
 				#{frontThrough},
 			</if>
 			<if test="backThrough!=null">
 				#{backThrough},
 			</if>
 				now(),
 			<if test="sort!=null">
 				#{sort},
 			</if>
 		</trim>
 	</insert>
 	<update id="edit">
		update road set
		<trim suffixOverrides=",">
			<if test="name!=null">
				name=#{name},
			</if>
			<if test="backThrough!=null">
				backThrough=#{backThrough},
			</if>
			<if test="frontThrough!=null">
				frontThrough=#{frontThrough},
			</if>
				modifyTime=now(),
			<if test="sort!=null">
				sort=#{sort},
			</if>
		</trim>
		where id=#{id}
	</update>
 </mapper>