<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.electronicGuideSD.dao.RoadStageMapper">
 	<select id="select" resultType="com.electronicGuideSD.entity.RoadStage">
 		select * from road_stage order by roadId,sort
 	</select>
 	<select id="selectMinDistanceStage" resultType="java.util.Map">
 		select ABS(#{x}-backX) toX,ABS(#{y}-backY) toY,round(SQRT(ABS(#{x}-backX)*ABS(#{x}-backX)+ABS(#{y}-backY)*ABS(#{y}-backY)),2) distance,backX,backY,frontX,frontY,sort,roadId,frontThrough,backThrough,'back' bfFlag from road_stage where frontThrough=1
 		UNION 
		select ABS(#{x}-frontX) toX,ABS(#{y}-frontY) toY,round(SQRT(ABS(#{x}-frontX)*ABS(#{x}-frontX)+ABS(#{y}-frontY)*ABS(#{y}-frontY)),2) distance,backX,backY,frontX,frontY,sort,roadId,frontThrough,backThrough,'front' bfFlag from road_stage where backThrough=1
		order by distance 
		limit 0,1
 	</select>
 	<select id="selectForInt" resultType="java.lang.Integer">
 		select count(*) from road_stage rs,road r where rs.roadId=r.id
		<if test="roadName!=null&amp;roadName!=''">
			and r.name like'%${roadName}%'
		</if>
		<if test="name!=null&amp;name!=''">
			and rs.name like'%${name}%'
		</if>
 	</select>
 	<select id="selectList" resultType="com.electronicGuideSD.entity.RoadStage">
 		select rs.*,r.name roadName from road_stage rs,road r where rs.roadId=r.id
		<if test="roadName!=null&amp;roadName!=''">
			and r.name like'%${roadName}%'
		</if>
		<if test="name!=null&amp;name!=''">
			and rs.name like'%${name}%'
		</if>
 		 order by r.sort,rs.sort limit #{start},#{rows}
 	</select>
 </mapper>