<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.electronicGuideSD.dao.RoadDotMapper">
 	<select id="select" resultType="com.electronicGuideSD.entity.RoadDot">
 		select * from road_dot where 1=1 order by sort
 	</select>
 	<select id="selectMinDistanceDot" resultType="java.util.Map">
 		select ABS(#{x}-x) toX,ABS(#{y}-y) toY,round(SQRT(ABS(#{x}-x)*ABS(#{x}-x)+ABS(#{y}-y)*ABS(#{y}-y)),2) distance,x,y,roadId,frontThrough,backThrough from road_dot rd,road r where rd.roadId=r.id order by distance limit 0,1
 	</select>
 </mapper>